version: "3.8"
services:
    postgres:
        container_name: postgres_prod
        image: postgres:11-alpine
        restart: always
        env_file: docker.env
        environment:
            PGDATA: /var/lib/postgresql/data/dbdata
        ports: 
            - 5432:5432
        volumes:
            - "/var/run/postgres/postgres.sock:/var/run/postgres/postgres.sock"
            - dbdata:/var/lib/postgresql/data
            
    web:
        container_name: web_prod
        build:
            context: ./frontend
            dockerfile: Dockerfile-prod
        volumes:
            - ./frontend:/usr/src/app
        ports:
            - "80:80"
            - "443:443"
        network_mode: host
        restart: always

    api:
        container_name: api_prod
        build:
            context: ./backend
            dockerfile: Dockerfile-prod
        ports:
            - "8000:8000"
        volumes:
            - ./backend:/usr/src/app
        links:
            - postgres
            - redis
        depends_on: 
            - postgres
            - redis
        env_file: docker.env
        environment:
            - DEV=0
        command: bash -c "/cico-api"
        restart: always

    redis:
        container_name: redis
        image: redis:alpine
        expose:
            - 6379
        ports:
            - "6379:6379"

volumes:
    dbdata: