hr {
    border: none;
    height: 2px;
    background-color: black;
    width: 80%;
}

button {
    display: block;
    border: none;
    background-color: $turquoise;
    font-size: 1rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    color: white;
    font-family: 'Sora';
}

button:hover {
    background-color: $dark-blue;
}

.page-container{
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-row-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.inner-padding {
    padding: 1rem;
}