.headercontainer {
  width: 100%;
  height: 5rem;
  background-color: $dark-blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .headerbutton{
    width: 5rem;
    height: 5rem;
    background-color: $turquoise;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }

  .headerbutton:hover {
    background-color: $orange-yellow;
  }

  .headericon{
    width: 70%;
    height: 70%;
    color: $dark-blue;
  }
}
